
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('../image/bg-head2.jpg'); 
  font-size: 40px;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 50px;
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub {
    height:1000px;
    background-color:#FBFAFA;
    font-size:20px;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}